/*
font-family: 'Domine', serif;
font-family: 'Goudy Bookletter 1911', serif;
*/

.header{
	width: 100%;
	height: 80%;
	position: flex:
	top: 0;left: 0;
    background-image: url("../img/master-informatique-lg-36795.png");
	background-size: cover;
	z-index: 5;
	opacity: 0.;

}

.container{
    width: 1170px;
    margin: 0 auto;
}

.header .navbar .menu{
    float: right;
    font-size: 25px;
    margin-top: 15px;
}

.header .navbar .menu ul{
    list-style: none;
    padding: 5;
    margin: 0;
}

.header .navbar .menu ul li{
    display: inline-block;
    margin: 0 25px;
}

.header .navbar ul li a{
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
}

.clearfix{
    clear: both;
}

.header .home{
    text-align: center;
    color: red;
    margin-top: 200px;
}

.header .home h1{
    font-size: 70px;
    font-weight: 200;
    text-transform: uppercase;
}

.header .home a{
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 20px 20px;
    border-radius: 15px;
    text-decoration: none;
}
/* Fin Header */

.services{
    padding: 120px0;
} 

.section-titre{
    text-align: center;
    color: blue;
    text-transform: uppercase;
    margin-top: 45px;
}

.section-title{
    text-align: center;
    color: deepskyblue;
    margin-top: 50px;
    text-transform: uppercase;
}

.section-title-2{
    text-align: center;
    color: black;
}

.section-paragraphe{
    text-align: center;
    color: black;
    margin-top: 25px;
}

/* Fin section */

.propos-titre{
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-top: 50px;
}

